@font-face {
  font-family: "Formula";
  src: url("../../assets/fonts/Formula1-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Formula";
  src: url("../../assets/fonts/Formula1-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FormulaRegular";
  src: url("../../assets/fonts/Formula1-Regular.ttf");
}

@font-face {
  font-family: "FormulaMedium";
  src: url("../../assets/fonts/Formula1-Bold.ttf");
}

@font-face {
  font-family: "FormulaSemibold";
  src: url("../../assets/fonts/Formula1-Bold.ttf");
}

@font-face {
  font-family: "FormulaBold";
  src: url("../../assets/fonts/Formula1-Bold.ttf");
}

@font-face {
  font-family: "FormulaExtra";
  src: url("../../assets/fonts/Formula1-Bold.ttf");
}

@font-face {
  font-family: "FormulaXxxbold";
  src: url("../../assets/fonts/Formula1-Black.ttf");
}

// Roboto
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Black.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoSemibold";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoExtra";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "RobotoXxxbold";
  src: url("../../assets/fonts/Roboto-Black.ttf");
}

// Monsterrat
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "MontserratSemibold";
  src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "MontserratExtra";
  src: url("../../assets/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "MontserratXxxbold";
  src: url("../../assets/fonts/Montserrat-Black.ttf");
}

// iRacing font
@font-face {
  font-family: "iRacing";
  src: url("../../assets/fonts/Eurostile-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "iRacing";
  src: url("../../assets/fonts/Eurostile-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iRacingRegular";
  src: url("../../assets/fonts/Eurostile-Regular.ttf");
}

@font-face {
  font-family: "iRacingMedium";
  src: url("../../assets/fonts/Eurostile-Bold.ttf");
}

@font-face {
  font-family: "iRacingSemibold";
  src: url("../../assets/fonts/Eurostile-Bold.ttf");
}

@font-face {
  font-family: "iRacingBold";
  src: url("../../assets/fonts/Eurostile-Bold.ttf");
}

@font-face {
  font-family: "iRacingExtra";
  src: url("../../assets/fonts/Eurostile-Bold.ttf");
}

@font-face {
  font-family: "iRacingXxxbold";
  src: url("../../assets/fonts/Eurostile-Bold.ttf");
}
